@import "../../../../core/styles/fonts.scss";
@import "../../../../core/styles/media.scss";

$default-icon-size: 87px;
$date-text-color: #cac5c5;
$parameter-key-color: #000000;
$parameter-value-color: #878787;
$default-border: 1px solid rgb(215, 215, 215);

.jog-item {
  display: flex;
  align-items: center;

  @include media-mobile {
    position: relative;

    justify-content: center;

    padding: 45px 0;
    border-bottom: $default-border;
    width: 100%;
    box-sizing: border-box;
  }

  &__icon {
    width: $default-icon-size;
    height: $default-icon-size;

    margin-right: 45px;
  }

  &__date {
    @include Text-Style;

    color: $date-text-color;
    margin-bottom: 5px;
  }

  &__parameter {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  .parameter-key {
    @include Text-Style-3;

    color: $parameter-key-color;
  }

  .parameter-value {
    @include Text-Style;

    color: $parameter-value-color;
  }
}
