$button-size: 60px;
$default-side-indent: 40px;

.create-jog-btn {
  cursor: pointer;
  
  position: fixed;
  bottom: $default-side-indent;
  right: $default-side-indent;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  outline: none;
  background: none;

  border-radius: 50%;
  width: $button-size;
  height: $button-size;
}

.create-jog-icon {
  width: $button-size;
  height: $button-size;
}
