@import "../../../../core/styles/media.scss";

$button-size: 60px;
$default-size-indent: 40px;
$mobile-size-indent: 30px;
$default-background-color: #ffffff;

.create-jog-btn {
  cursor: pointer;
  
  position: fixed;
  bottom: $default-size-indent;
  right: $default-size-indent;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  outline: none;
  background: none;
  background: $default-background-color;

  border-radius: 50%;
  width: $button-size;
  height: $button-size;

  @include media-mobile {
    bottom: $mobile-size-indent;
    right: $mobile-size-indent;
  }
}

.create-jog-icon {
  width: $button-size;
  height: $button-size;
}
