@import "../../../../core/styles/fonts.scss";
@import "../../../../core/styles/media.scss";

$modal-background-color: #7ed321;
$overlay-background-color: rgba(255, 255, 255, 0.5);
$input-label-text-color: #000000;

@keyframes show-modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.jog-modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  justify-content: center;
  align-items: center;
  opacity: 0;
  display: none;

  z-index: 2000;
  background-color: $overlay-background-color;

  animation: show-modal 0.4s ease;

  &_opened {
    opacity: 1;
    display: flex;
  }
}

.jog-modal {
  position: relative;
  box-sizing: border-box;

  background-color: $modal-background-color;
  padding: 100px 90px 45px 90px;
  border-radius: 44px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  @include media-tablet {
    width: 70vw;
    padding: 60px 35px 35px 35px;
    align-items: center;
  }

  @include media-mobile {
    width: 80vw;
  }

  @include media-mobile-small {
    width: 90vw;
  }

  &__header {
    cursor: pointer;
    position: absolute;

    right: 25px;
    top: 25px;
  }

  &__submit-button {
    @include Text-Style;

    width: 100%;
    padding: 10px 0;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include media-tablet {
      flex-direction: column;
      align-items: flex-start;
    }

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &:last-child {
      margin-bottom: 46px;
    }

    .input-field {
      width: 235px;
      height: 30px;
      padding-left: 10px;
      box-sizing: border-box;

      @include media-tablet {
        width: 100%;
      }
    }

    .label__text {
      @include Text-Style-7;

      @include media-tablet {
        margin-bottom: 6px;
      }

      color: $input-label-text-color !important;
    }
  }
}
