@import "../../styles/media.scss";

$main-background-color: #7ed321;
$main-text-color: #ffffff;
$logo-image-width: 44px;
$logo-image-height: 55px;

.header {
  position: relative;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px 37px;
  background-color: $main-background-color;

  @include media-mobile {
    padding: 20px 25px;
  }

  &__logo-image {
    width: $logo-image-width;
    height: $logo-image-height;

    margin-right: 20px;

    @include media-mobile {
      margin-right: 10px;
    }
  }

  &__logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-title {
    color: $main-text-color;

    @include media-mobile {
      font-size: 1.6rem;
    }
  }
}
